.container {
	font-family: "Roboto", "Open Sans",  Arial, Helvetica, sans-serif !important;
	display: flex;
	flex-direction: column;
}

.label {
	display: flex;
	color: #4a4a4a;
	text-transform: uppercase;
	font-size: 12px;
}

.input {
	display: flex;
  background-color: #fff;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 0 10px;
  height: 30px;

	::placeholder {
		color: #dde2e5;
	}

  &:focus {
    outline: none;
    border: 1px solid #00aef0;
	}

	&.error {
		border: 1px solid #e74055;
	}
}

.errorText {
	font-size: 12px;
	display: flex;
	color: #e74055;
}
